@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-item {
    @apply text-sm font-semibold px-4 py-1.5 text-white/70 rounded-full cursor-pointer hover:bg-white/10 hover:text-white transition duration-300
  }

  .star-ring {
    @apply  absolute inset-0 border-2 border-emerald-300/5 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full shadow-[0_0_80px_inset] shadow-emerald-300/5
  }
}

@layer utilities {
  .container {
    @apply lg:max-w-5xl;
  }
}
